*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #fff;
    font-family: microsoft yahei;
}
.row{
    margin: 0!important;
}
::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 7px;
    background-color: #67c23a;
    cursor: pointer;
}
::-webkit-scrollbar-track {
    box-shadow: none;
    background: transparent;
    display: none;
}

::selection {
    background: #f7fff4;
    color: inherit;
}
#msg{
    height: 48px;
    min-width: 200px;
    position: fixed;
    top: 72px;
    left: 50%;
    line-height: 48px;
    text-align: center;
    margin-left: -100px;
    border-radius: 99px;
    font-size: 18px;
    font-weight: bold;
    display: none;
    
}